
<!doctype html>
<html lang="ru" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мой профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="/tasks/">Задания</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scores/">Успеваемость</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/accounts/profile/">Мой профиль</a>
          </li>
        </ul>
      </header>
    </div>


    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .accordion-item {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
  
  <div class="container mt-4">



    <div class="row">
      <div class="col">
          <label for="inputEmail4" class="form-label">Фамилия</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= {{ user.last_name }} disabled>
      </div>
      <div class="col">
          <label for="inputEmail4" class="form-label">Имя</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= {{ user.first_name }} disabled>
      </div>
    </div>
    

    <div class="row mt-2">
      <div class="col">
          <label for="inputEmail4" class="form-label">Группа</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= {{ profile.group }} disabled>
      </div>
      <div class="col">
          <label for="inputEmail4" class="form-label">Поток</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= {{ profile.flow }} disabled>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col">
          <label for="inputEmail4" class="form-label">Семинарист</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= " {{ profile.seminarist }} " disabled>
      </div>
      <div class="col">
          <label for="inputEmail4" class="form-label">Проверяющий </label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= " {{ profile.checker }} " disabled>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
          <label for="inputEmail4" class="form-label">Почта</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= "{{ user.email }}" disabled>
      </div>
      <div class="col">
          <label for="inputEmail4" class="form-label">Почта в домене @phystech.edu</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder= "" disabled>
      </div>
      <div class="col">
        <label for="inputEmail4" class="form-label">Telegram <i class="bi bi-telegram"></i> </label>
        <input type="email" class="form-control" id="inputEmail4" placeholder= {{ profile.telegram }} disabled>
    </div>
    </div>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <a href="#" onclick="parentNode.submit();">Log Out</a>
    </form>
    
  </div>

  </body>

  
</html>

